extends layout

block content
  h1 Palindrome Checker
  form(method="POST" action="/")
    label(for="userText") Enter your text here:
    br
    input(type="text" id="userText" name="userText" value=`${phrase}`)
    br
    br
    button(type="submit") Submit
  if message
    p=message
    br
    p Some examples of palindromes include radar, level, and refer.
    p These words are classified as palindromes because their characters can be read the same backward as forward.
